{% extends '@Forumify/admin/base.html.twig' %}
{% block title_page %}
  {{ 'admin.configuration.title'|trans }}
{% endblock %}
{% block body %}
  <h1>
    {{ 'sociallogin.settings.title'|trans }}
  </h1>
  <div class="box">
    {{ form_start(form) }}
    {% embed '@Forumify/components/tabs.html.twig' %}
      {% block tabs %}
        <button type="button" class="btn-link" data-tab-id="perscom">
          {{ 'sociallogin.clients.perscom'|trans }}
        </button>
        <button type="button" class="btn-link" data-tab-id="discord">
          {{ 'sociallogin.clients.discord'|trans }}
        </button>
        <button type="button" class="btn-link" data-tab-id="google">
          {{ 'sociallogin.clients.google'|trans }}
        </button>
      {% endblock %}
      {% block tabpanels %}
        <div id="perscom">
          <div class="pb-4 text-sm">
            <strong>Redirect URL</strong>: {{ redirect['perscom'] }}
          </div>
          <div class="pb-4 text-sm">
            NOTE: Social Login with PERSCOM requires the <strong>
              Enterprise
            </strong> plan.
          </div>
          {{ form_row(form.sociallogin__perscom__enabled) }}
          {{ form_row(form.sociallogin__perscom__dashboard_url) }}
          {{ form_row(form.sociallogin__perscom__client_id) }}
          {{ form_row(form.sociallogin__perscom__client_secret) }}
        </div>
        <div id="discord">
          <div class="pb-4 text-sm">
            <strong>Redirect URL</strong>: {{ redirect['discord'] }}
          </div>
          <div class="pb-4 text-sm">
            Information about setting up OAuth 2 with Discord can be found <a href="https://discord.com/developers/docs/topics/oauth2" target="_blank">here.</a>
          </div>
          {{ form_row(form.sociallogin__discord__enabled) }}
          {{ form_row(form.sociallogin__discord__client_id) }}
          {{ form_row(form.sociallogin__discord__client_secret) }}
        </div>
        <div id="google">
          <div class="pb-4 text-sm">
            <strong>Redirect URL</strong>: {{ redirect['google'] }}
          </div>
          <div class="pb-4 text-sm">
            Information about setting up OAuth 2 with Google can be found <a href="https://support.google.com/cloud/answer/6158849?hl=en" target="_blank">here.</a>
          </div>
          {{ form_row(form.sociallogin__google__enabled) }}
          {{ form_row(form.sociallogin__google__client_id) }}
          {{ form_row(form.sociallogin__google__client_secret) }}
        </div>
      {% endblock %}
    {% endembed %}
    <div class="flex items-center justify-center gap-2">
      <button type="submit" class="btn-primary">{{ 'save'|trans }}</button>
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
